:root {
    --button-hover-color: #9D5CD0;
    --active-color: #7943A4;
    --hover-color: #C283F3;
    --focus-color: #D1A9F0;
    --timing-function: cubic-bezier(.25,.49,.7,.57);
}

body {
    font-family: 'OpenSans', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans-regular.woff2') format('woff2'),
         url('../fonts/open-sans-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans-italic.woff2') format('woff2'),
         url('../fonts/open-sans-italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans-semibold.woff2') format('woff2'),
         url('../fonts/open-sans-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'OpenSans';
    src: url('../fonts/open-sans-bold.woff2') format('woff2'),
         url('../fonts/open-sans-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
  }

  /* common styles */

  .container {
      margin: 0 auto;
      padding: 0;
      width: calc(83% + 6px);
      max-width: 1600px;
  }

  .section {
      padding-left: 0;
      padding-right: 0;
      padding-top: 80px;
      padding-bottom: 80px;
      background-color: #fff;
  }

  .section__heading {
      margin: 0;
      margin-bottom: 16px;
      font-weight: 400;
      font-size: 48px;
      line-height: 65.37px;
  }

  .section__description {
      margin: 0;
      width: 67.5%;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px;
      color: #333;
  }

  /* header */

    .container__header {
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: #000000;
    }

    .header {
      display: flex;
      align-items: center;
    }

    .header__burger {
        display: none;
    }

    .header__cross {
        display: none;
    }

    .header__logo {
        margin-right: 180px;
    }

    .header__nav-container {
        width: 78%;
    }

    .header__nav-container-mobile {
        width: 100%;
    }

    .header__nav {
        display: flex;
        justify-content: space-between;
    }

    .header__search-container {
        display: none;
    }

    .header__list {
        display: flex;
    }

    .header__list-item {
        margin-right: 62px;
    }

    .header__list-item:last-child {
        margin-right: 0;
    }

    .header__link {
        font-size: 18px;
        line-height: 24.51px;
        font-weight: 600;
        color: #fff;
        transition-property: color, background-color;
        transition-duration: .2s;
        transition-timing-function: var(--timing-function);
    }

    .header__link:hover {
        color: var(--hover-color);
    }
    
    .header__link:active {
        color: var(--active-color);
        background-color: transparent;
    }

    .header__link:focus-visible {
        background-color: var(--active-color);
        outline: none;
    }

    .header__login {
        font-weight: 400;
        font-size: 18px;
        line-height: 24.51px;
        color: #fff;
        transition-property: background-color, color;
        transition-duration: .2s;
        transition-timing-function: var(--timing-function);
    }

    .header__login path {
        transition: fill .2s var(--timing-function);
    }

    /* :hover for header__login */

    .header__login:hover {
        color: var(--hover-color);
    }

    .header__login:hover path{
        fill: var(--hover-color);
    }

    /* :active for header__login */

    .header__login:active {
        color: var(--active-color);
        background: transparent;
        font-weight: 400;
    }

    .header__login:active path{
        fill: var(--active-color);
    }

    /* :focus for header__login */

    .header__login:focus-visible {
        color: #fff;
        background-color: var(--active-color);
        outline: none;
        outline: none;
    }

    .header__login:focus-visible path {
        fill: #fff;
    }

    /* hero */

    .container__hero {
        background: rgba(0, 0, 0, .4);
    }

    .section__hero {
        padding-bottom: 122px;
        background-image: url(../img/hero__1-1920.png);
        background-repeat: no-repeat;
        background-position: center bottom;
    }
    
    .hero__menu {
        width: 100%;
        margin-bottom: 63px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 23px;
        padding-bottom: 20px;
    }

    .hero__list {
        display: flex;
    }

    .hero__list-item {
        position: relative;
        margin-right: 95px;
        font-size: 18px;
        line-height: 19px;
        font-weight: 400;
        color: #FFF;
    }

    .hero__list-item:last-child {
        margin-right: 0;
    }

    .hero__list-button {
        padding: 0;
        font-weight: 400;
        font-size: 18px;
        line-height: 19px;
        color: #fff;
        background: transparent;
        border: none;
        transition-property: color, background-color;
        transition-duration: .2s;
        transition-timing-function: var(--timing-function);
    }

    .hero__list-button path {
        transition: stroke .2s var(--timing-function);
    }

    /* :hover for hero__list-button */

    .hero__list-button:hover {
        color: var(--button-hover-color);
        cursor: pointer;
    }

    .hero__list-button:hover path {
        stroke: var(--button-hover-color);
    }
    
    /* :active for hero__list-button */

    .hero__list-button:active {
        color: var(--active-color);
        background: transparent;
     }
 
     .hero__list-button:active path {
         stroke: var(--active-color);
     }
 
     .hero__list-button--active {
         color: var(--active-color);
     }
 
     .hero__list-button--active path {
         stroke: var(--active-color);
     }
     
    /* :focus for hero__list-button */

    .hero__list-button:focus-visible {
        color: #fff;
        background-color: var(--active-color);
        outline: none;
    }

    .simplebar-track.simplebar-vertical {
        top: 40px;
        right: 19px;
        bottom: 40px;
        width: 2px;
        background-color: #000000;
    }
    
    .simplebar-scrollbar {
        background-color: #fff;
    }

    
    .hero__container-dropdown {
        /* display: none; */
        padding: 40px;
        position: absolute;
        top: 43px;
        width: 300px;
        height: 0;
        background: rgba(0, 0, 0, 0.6);
        opacity: 0;
        transition: .3s;
    }

    .hero___dropdown-list-item {
        margin-bottom: 20px;
        padding-top: 9px;
        padding-bottom: 12px;
        padding-left: 14px;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .hero__container-dropdown--active {
        height: 300px;
        opacity: 1;
        transition: .3s;
    }

    .hero___dropdown-list-item:last-child {
        margin-bottom: 0;
    }

    .hero__dropdown-1-1 {
        background-image: url(../img/hero__dropdown-1-1.png);
    }

    .hero__dropdown-1-2 {
        background-image: url(../img/hero__dropdown-1-2.png);
    }

    .hero__dropdown-1-3 {
        background-image: url(../img/hero__dropdown-1-3.png);
    }

    .hero__dropdown-1-4 {
        background-image: url(../img/hero__dropdown-1-4.png);
    }

    .hero__dropdown-2-1 {
        background-image: url(../img/hero__dropdown-2-1.png);
    }

    .hero__dropdown-2-2 {
        background-image: url(../img/hero__dropdown-2-2.png);
    }

    .hero__dropdown-2-3 {
        background-image: url(../img/hero__dropdown-2-3.png);
    }

    .hero__dropdown-2-4 {
        background-image: url(../img/hero__dropdown-2-4.png);
    }

    .hero__dropdown-3-1 {
        background-image: url(../img/hero__dropdown-3-1.png);
    }

    .hero__dropdown-3-2 {
        background-image: url(../img/hero__dropdown-3-2.png);
    }

    .hero__dropdown-3-3 {
        background-image: url(../img/hero__dropdown-3-3.png);
    }

    .hero__dropdown-3-4 {
        background-image: url(../img/hero__dropdown-3-4.png);
    }

    .hero__dropdown-4-1 {
        background-image: url(../img/hero__dropdown-4-1.png);
    }

    .hero__dropdown-4-2 {
        background-image: url(../img/hero__dropdown-4-2.png);
    }

    .hero__dropdown-4-3 {
        background-image: url(../img/hero__dropdown-4-3.png);
    }

    .hero__dropdown-4-4 {
        background-image: url(../img/hero__dropdown-4-4.png);
    }

    .hero__dropdown-5-1 {
        background-image: url(../img/hero__dropdown-5-1.png);
    }

    .hero__dropdown-5-2 {
        background-image: url(../img/hero__dropdown-5-2.png);
    }

    .hero__dropdown-5-3 {
        background-image: url(../img/hero__dropdown-5-3.png);
    }

    .hero__dropdown-5-4 {
        background-image: url(../img/hero__dropdown-5-4.png);
    }

    .hero__search {
        display: flex;
        align-items: center;
    }

    .hero__search-btn {
        margin-right: 9px;
        padding: 0;
        transform: translateY(4px);
        border: none;
        background: none;
    }

    .hero__search-btn:focus-visible {
        outline: none;
    }

    .hero__search-input {
        width: 218px;
        font-weight: 400;
        font-size: 18px;
        line-height: 24.51px;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, .85);
        background: transparent;
        color: #fff;
        transition: border-color .2s var(--timing-function);
    }

    .hero__search-input::-webkit-input-placeholder {
        color: rgba(255, 255, 255, .85);
    }
    
    .hero__heading {
        margin: 0;
        margin-bottom: 1px;
        width: 37.31%;
        font-weight: 700;
        font-size: 72px;
        line-height: 96px;
        color: #fff;
    }

   .hero__description {
       margin: 0;
       margin-bottom: 92px;
       width: 36%;
       font-weight: 700;
       font-size: 18px;
       line-height: 30px;
       color: #fff;
   }

   .hero__btn {
       width: 314px;
       height: 70px;
       font-weight: 700;
       font-size: 18px;
       line-height: 24.51px;
       color: #fff;
       background-color: var(--button-hover-color);
       border-radius: 100px;
       border: 3px solid var(--button-hover-color);
       outline-offset: 3px;
       outline: 2px solid transparent;
       transition-property: border-color, background-color;
       transition-duration: .2s;
       transition-timing-function: var(--timing-function);
   }

   .hero__search-input::-ms-clear {  display: none; width : 0; height: 0; }
   .hero__search-input::-ms-reveal {  display: none; width : 0; height: 0; }
   .hero__search-input::-webkit-search-decoration,
   .hero__search-input::-webkit-search-cancel-button,
   .hero__search-input::-webkit-search-results-button,
   .hero__search-input::-webkit-search-results-decoration { display: none; }

    input:focus::-webkit-input-placeholder { color:transparent; }
    input:focus:-moz-placeholder { color:transparent; } 
    input:focus::-moz-placeholder { color:transparent; } 
    input:focus:-ms-input-placeholder { color:transparent; }

   /* :hover for hero__btn */

   .hero__btn:hover {
       cursor: pointer;
       border-color: var(--focus-color);
   }

   /* :active for hero__btn */

   .hero__btn:active {
        background-color: var(--active-color);
        border-color: var(--focus-color);
        outline: none;
   }    

   /* :focus for hero__btn */

   .hero__btn:focus-visible {
       outline-color: var(--hover-color);
   }

   /* :hover for hero__search-input */

   .hero__search-input:hover {
       border-color: var(--hover-color);
       cursor: pointer;
   }

   /* :focus for hero__search-input */

   .hero__search-input:focus-visible {
        border-color: var(--hover-color);
        outline: none;
    }

    /* :active for hero__search-input */

   .hero__search-input:active {
        border-color: var(--active-color);
    }


   /* about */

   .section__about {
       padding-bottom: 70px;
   }

   .about__heading {
       color: #333;
   }

   /* gallery */

   .section__gallery {
       background-image: url(../img/gallery__bg-1920.png);
       background-repeat: no-repeat;
       background-position: center;
   }

   .gallery__container {
       display: flex;
       justify-content: space-between;
   }

   .gallery__left {
       width: 25%;
       margin-right: 50px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: flex-start;
   }

   .gallery__checkboxes {
       display: flex;
       flex-direction: column;
   }

   .gallery__span {
       font-size: 16px;
       line-height: 32px;
       color: #fff;
   }

   .gallery__heading {
       color: #fff;
   }

   .gallery__span {
       margin-bottom: 10px;
   }

   .choices {
       margin-bottom: 176px;
       width: 100%;
       max-width: 400px;
       border-radius: 6px;
   }
   
   .choices__inner {
        padding: 4px 15px;
        width: calc(91% + 2px);
        min-height: auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #fff;
        background: transparent;
        border: 1px solid #fff;
        border-radius: 6px;
        transition: background-color .2s var(--timing-function);
    }

    .choices__inner:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .choices:focus-visible {
        background-color: rgba(255, 255, 255, 0.2);
        outline: none;
    }

   .choices[data-type*=select-one] .choices__inner {
       padding-bottom: 2px;
    }

    .choices__list--dropdown .choices__list {
        border-radius: 6px;
    }

    .choices__list.choices__list--dropdown.is-active {
        border: 1px solid #999;
        border-radius: 6px;
        z-index: 2;
    }

    .is-open .choices__inner {
        border-radius: 6px;
    }

    .choices__item--choice[area-selected="true"] {
        display: none;
      }

    .choices__list--dropdown .choices__item {
        padding: 0;
        padding-left: 20px;
        padding-top: 2px;
        padding-bottom: 8px;
        font-size: 16px;
        line-height: 32px;
        border-bottom: 1px solid #999;
        transition-property: color, background-color;
        transition-duration: .2s;
        transition-timing-function: var(--timing-function);
    }

    .choices__list--dropdown .choices__item:last-child {
        border-bottom: none;
    }

    .choices__list--dropdown .choices__item:hover {
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
    }

   .choices__list--single {
       padding: 0;
   }

   .choices__placeholder {
       opacity: 1;
   }

   .choices[data-type*=select-one]::after {
       display: none;
   }

   .choices[data-type*=select-one]::before {
       content: '';
       position: absolute;
       top: 15px;
       right: 5%;
       width: 8px;
       height: 8px;
       border-top: 1px solid #fff;
       border-left: 1px solid #fff;
       transform: rotate(225deg);
       z-index: 1;
   }

   .choices__list--dropdown {
       width: 99%;
       background-color: transparent;
   }

   .choices__list--dropdown .choices__item {
       font-size: 16px;
       line-height: 32px;
       color: #999999;
   }

   .gallery__checkbox {
       display: none;
   }

   .gallery__label {
       margin: 0;
       position: relative;
       padding-left: 24px;
       z-index: 1;
   }

   .gallery__checkbox + span::after {
       content: '';
       position: absolute;
       top: 10px;
       left: 0;
       width: 10px;
       height: 10px;
       border: 1px solid #fff;
   }

   .gallery__label:hover > span {
        color: var(--hover-color);
   }

   .gallery__label:hover > span::after {
        border-color: var(--hover-color);
    }

   .gallery__checkbox + span::before {
        content: '';
        position: absolute;
        top: 14px;
        left: 4px;
        width: 4px;
        height: 4px;
        opacity: 0;
        background-color:  var(--hover-color);
        transition: opacity .2s var(--timing-function);
        border-radius: 50%;
   }

   .gallery__checkbox + span::after {
        transition: border-color .2s var(--timing-function);
    }

    .gallery__checkbox + span {
        transition: color .2s var(--timing-function);
    }
    
    .gallery__checkbox:checked + span {
        color: var(--hover-color);
    }

   .gallery__checkbox:checked + span::before {
        opacity: 1;
    }

    .gallery__checkbox:checked + span::after {
        border-color: var(--hover-color);
    }

    .gallery__right {
        display: flex;
        position: relative;
        width: calc(70% + 30px);
    }

    /* swiper1 */

    .swiper1 {
        margin-left: 0;
        height: 410px;
        align-self: flex-end;
    }

    .swiper1-slide {
        display: flex;
        align-items: flex-end;
    }

    .swiper1-button-prev::after {
        display: none;
      }

    .swiper1-button-next::after {
        display: none;
    }

    .swiper1-button-prev {
        left: 3px;
    }

    .swiper1-button-next {
        right: auto;
        left: 102px;
    }
    
    .swiper1-button-next, .swiper1-button-prev {
        width: auto;
        height: auto;
        top: 6%;
    }

    .gallery__swiper-arrows path:first-of-type {
        transition-property: fill, stroke;
        transition-duration: .2s;
        transition-timing-function: var(--timing-function);
    }

    .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
        opacity: .5;
    }

    .swiper-pagination-fraction {
        top: 0;
        left: 50px;
        bottom: auto;
        width: auto;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        color: #fff;
    }

    .gallery__image {
        max-width: 100%;
    }

    /* :hover for gallery__swiper-arrows */
    
    .gallery__swiper-arrows:hover path:first-of-type {
        fill: var(--button-hover-color);
    }

    /* :active for gallery__swiper-arrows */

    .gallery__swiper-arrows:active path:first-of-type {
        fill: var(--active-color);
        stroke: #000000;
    }

    /* :focus for gallery__swiper-arrows */

    .swiper1-button-next:focus-visible, .swiper1-button-prev:focus-visible {
        outline: none;
    }

    .swiper1-button-next:focus-visible path:first-of-type, .swiper1-button-prev:focus-visible path:first-of-type {
        stroke: #000000;
    }

    /* catalog */

    .section__catalog {
        padding-bottom: 0;
    }

    .catalog__heading {
        color: #333333;
    }

    .catalog__description {
        margin-bottom: 38px;
    }

    .catalog__tabs-container {
        display: flex;
    }

    .catalog__left-column {
        margin-right: 50px;
        width: 46.875%;
    }

    .catalog__artist-img {
        margin-bottom: 25px;
        max-width: 100%;
    }

    .catalog__artist-name {
        margin: 0;
        margin-bottom: 9px;
        font-weight: 600;
        font-size: 24px;
        line-height: 32.68px;
        color: #333;
    }

    .catalog__artist-dates {
        margin: 0;
        margin-bottom: 7px;
        font-weight: 400;
        font-size: 12px;
        line-height: 16.34px;
        color: #999;
    }

    .catalog__artist-description {
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #333;
    }

    .catalog__right-column {
        width: 50%;
    }

    /* tabs */

    .tabs-item {
        display: none;
    }

    .tabs-item--active {
        display: block;
    }

    /* accordion */

    .ui-state-default {
        color: #333;
        border: none;
        border-top: 1px solid #CACACA; 
        background: transparent;
        transition: border-color .2s var(--timing-function);
    }

    .ui-icon {
        display: none;
    }

    .ui-widget button {
        font-family: 'OpenSans', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 31px;
        border-bottom: 1px solid transparent;
        transition-property: border, color, background-color;
        transition-duration: .1s;
        transition-timing-function: var(--timing-function);
    }

    .ui-accordion .ui-accordion-header {
        margin: 0;
        padding: 0;
        padding-top: 32px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ui-accordion .ui-accordion-content {
        padding: 0;
        padding-top: 25px;
        padding-bottom: 25px;
        border: none;
    }

    .ui-widget {
        font-family: 'OpenSans', sans-serif;
    }

    .catalog__accordion-title {
        color: #333;
        transition: border-color .2s var(--timing-function);
    }

    .catalog__accordion-item:last-child {
        border-bottom: 1px solid #CACACA;
    }

    .catalog__accordion-title h3 {
        margin: 0;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #333;
        transition: color .1s var(--timing-function);
    }

    .catalog__accordion-title path:first-of-type {
        transition-property: fill, stroke;
        transition-duration: .2s;
        transition-timing-function: var(--timing-function);
    }
    
    .ui-state-default svg {
        transition: transform .2s var(--timing-function);
    }

    .ui-widget button:focus-visible {
        background-color: var(--button-hover-color);
        color: #FFF;
        outline: none;
    }

    .catalog__accordion-item {
        transition: border-color .2s var(--timing-function);
    }

    /* :hover for  catalog__accordion-item*/

    .catalog__accordion-item:hover > .ui-state-default {
        border-color: var(--button-hover-color);
    }

    .catalog__accordion-item:hover + .catalog__accordion-item > .ui-state-default {
        border-color: var(--button-hover-color);
    }

    .catalog__accordion-item:hover h3 {
        color: var(--button-hover-color);
    }
    
    .catalog__accordion-item:hover path:first-of-type {
        fill: var(--focus-color);
        stroke: var(--focus-color);
    }

    .catalog__accordion-item:last-child:hover {
        border-color: var(--button-hover-color);
    }

    .ui-widget button:hover {
        cursor: pointer;
        color: var(--button-hover-color);
        border-bottom:  1px solid var(--button-hover-color);
    } 

    /* :active for catalog__accordion-item */

    .catalog__accordion-item:active {
        border-color: var(--active-color);
    }

    .catalog__accordion-item:active + .catalog__accordion-item {
        border-color: var(--active-color);
    }

    .catalog__accordion-item:active h3 {
        color: var(--active-color);
    }

    .catalog__accordion-item:active path:first-of-type {
        fill: var(--focus-color);
        stroke: var(--button-hover-color);
    }

    .ui-state-active {
        border-color: var(--active-color);
        border-bottom: 1px solid var(--active-color);
    }

    .ui-state-active h3 {
        color: var(--active-color);
    }


    .ui-state-active path:first-of-type {
        fill: var(--focus-color);
        stroke: var(--button-hover-color);
    }

    .ui-state-active svg {
        transform: rotate(180deg);
    }

    .ui-widget button:active {
        color: var(--active-color);
    }

    /* :focus for catalog__accordion-item */   

    .catalog__accordion-title:focus-visible {
        outline: none;
    }

    .catalog__accordion-title:focus-visible h3 {
        color: #fff;
        background-color: var(--button-hover-color);
    }

    .catalog__accordion-title:focus-visible path:first-of-type {
        fill: var(--focus-color);
        stroke: var(--focus-color);
    }

    /*  */

    .catalog__accordion-list-one {
        display: flex;
    }

    .catalog__accordion-list-column:not(:last-child) {
        margin-right: 60px;
    }

    .catalog__accordion-list-two {
        display: none;
    }

    .catalog__tabs-artist {
        padding: 0;
        display: block;
        color: #333;
        text-align: left;
        background: transparent;
        border: none;
    }

    .catalog__tabs-artist--active {
        color: var(--active-color);
    }

    .catalog__empty-accordion {
        align-items: center;
    }

    .catalog__empty-svg {
        margin-right: 24px;
    }

    .catalog__empty-content {
        width: 34.675%;
    }

    .catalog__empty-title {
        margin: 0;
        margin-bottom: 5px;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #333;
    }

    .catalog__empty-description {
        margin: 0;
        margin-bottom: 5px;
        font-weight: 400;
        font-size: 16px;
        line-height: 21.79px;
        color: #333;
    }

    .catalog__empty-link {
        font-weight: 600;
        font-size: 16px;
        line-height: 24.79px;
        color: var(--button-hover-color);
    }

    /* events */

    .section__events {
        padding-bottom: 0;
    }

    .events__swiper-img {
        max-width: 100%;
        height: auto;
        font-size: 0;
    }

    .swiper2-wrap {
        position: relative;
    }

    .swiper2 {
        width: 100%;
        height: 700px;
    }

    .swiper2-slide {
        display: flex;
        flex-direction: column;
    }

    .swiper2-pagination {
        display: none;
    }

    .swiper2-button-prev, .swiper2-button-next {
        width: auto;
        height: auto;
    }

    .swiper2-button-next::after, .swiper2-button-prev::after {
        display: none;
    }

    .swiper2-button-prev {
        left: -25px;
    }

    .swiper2-button-next {
        right: -25px;
    }

    .swiper2-button-prev circle, .swiper2-button-next circle {
        transition-property: fill, stroke;
        transition-duration: .2s;
        transition-timing-function: var(--timing-function);
    }

    /* :hover for swiper2-buttons */

    .swiper2-button-prev:hover circle, .swiper2-button-next:hover circle {
        fill: var(--focus-color);
        stroke: var(--focus-color);
    }

    /* :active for swiper2-buttons */

    .swiper2-button-prev:active circle, .swiper2-button-next:active circle {
        fill: var(--focus-color);
        stroke: var(--button-hover-color);
    }

    /* :focus for swiper2-buttons */

    .swiper2-button-prev:focus-visible, .swiper2-button-next:focus-visible {
        outline: none;
    }

    .swiper2-button-prev:focus-visible circle, .swiper2-button-next:focus-visible circle {
        stroke: var(--button-hover-color);
    }

    .events__arcticle {
        padding: 13px 50px 43px 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
        border-left: 1px solid #cacaca;
        border-right: 1px solid #cacaca;
        border-bottom: 1px solid #cacaca;
    }

    .events__date-place {
        margin-bottom: 13px;
        display: block;
        font-weight: 600;
        font-size: 12px;
        line-height: 16.34px;
        color: #999;
    }

    .events__name {
        margin: 0;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 24px;
        line-height: 32.68px;
        color: #333;
    }

    .events__description {
        margin: 0;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #333;
    }

    .events__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: var(--button-hover-color);
        border-bottom: 1px solid var(--button-hover-color);
        transition-property: color, border-color, background-color;
        transition-duration: .2s;
        transition-timing-function: var(--timing-function);
    }

    /* :hover for events__link */

    .events__link:hover {
        color: var(--active-color);
        border-color: var(--active-color);
    }

    /* :active for events__link */

    .events__link:active {
        color: #333333;
        border-color: #333333;
        background-color: transparent;
    }

    /* :focus for events__link */

    .events__link:focus-visible {
        color: #fff;
        border-color: #fff;
        background-color: var(--button-hover-color);
        outline: none;
    }

    /* projects */

    .projects__description {
        margin-bottom: 20px;
    }

    .projects__subheading {
        margin: 0;
        margin-bottom: 23px;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #333;
    }

    .projects__partner {
        opacity: .3;
        filter: grayscale(1);
        transition-property: filter, opacity;
        transition-timing-function: var(--timing-function);
        transition-duration: .2s;
    }

    /* hover for projects__partner */

    .swiper3-slide:hover .projects__partner {
        opacity: 1;
        filter: grayscale(0);
    }

    /* tooltip */

    .projects__tooltip-case {
        position: relative;
    }

    .projects__tooltip-svg {
        transform: translateY(3px);
        cursor: pointer;
    }

    .projects__tooltip-svg path {
        transition-property: fill, stroke;
        transition-duration: .2s;
        transition-timing-function: var(--timing-function);
    }

    .projects__tooltip-popup {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -100%);
        max-width: 150px;
        width: max-content;
        padding: 7px 15px;
        color: #000;
        font-family: 'OpenSans';
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        background-color: white;
        border: 1px solid var(--focus-color);
        border-radius: 20px;
        box-shadow: -2px 4px 34px 0px rgba(157, 92, 208, 0.2);
        opacity: 0;
        transition: opacity .2s var(--timing-function);
    }

    /* :hover for projects__tooltip-svg */

    .projects__tooltip-svg:hover path:first-of-type {
        fill: var(--focus-color);
    }

    /* :active for projects__tooltip-svg */

    .projects__tooltip-svg:active path:first-of-type {
        fill: var(--button-hover-color);
    }

    .projects__tooltip-svg:active path:last-of-type {
        fill: white;
    }

    /* :focus for projects__tooltip-svg */

    .projects__tooltip-case:focus-visible path:first-of-type {
        fill: var(--focus-color);
        outline: none;
    }

    /* :hover for popup */

    .projects__tooltip-svg:hover + .projects__tooltip-popup {
        opacity: 1;
    }

    .projects__link {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: var(--button-hover-color);
        border-bottom: 1px solid transparent;
        transition-property: color, border-color;
        transition-duration: .2s;
        transition-timing-function: var(--timing-function);
    }
    
    .projects__link:hover {
        border-color: var(--button-hover-color);
    }

    .projects__link:active {
        color: var(--active-color);
        font-weight: 400;
        border-color: var(--active-color);
        background-color: transparent;
    }

    .projects__link:focus-visible {
        font-weight: 400;
        background-color: var(--button-hover-color);
        color: #FFF;
        outline: none;
    }

    /* swiper3 */

    .swiper3-wrap {
        position: relative;
    }

    .swiper3 {
        width: 90.625%;
        height: 150px;
    }

    .swiper3-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        border: 1px solid #cacaca;
    }

    .swiper3-slide:hover {
        cursor: pointer;
    }

    .swiper3-slide:hover img {
        opacity: 1;
        filter: grayscale(0);
    }

    /* swiper-buttons */

    .swiper3-button-next::after, .swiper3-button-prev::after{
        display: none;
    }

    .swiper3-button-prev, .swiper3-button-next {
        width: auto;
        height: auto;
        top: 80px;
    }

    .swiper3-button-prev {
        left: auto;
    }

    .swiper3-button-next {
        right: 0;
    }

    .projects__swiper-arrows path:first-of-type {
        transition-property: fill, stroke;
        transition-duration: .2s;
        transition-timing-function: var(--timing-function);
    }

    /* :hover for projects__swiper-arrows */

    .projects__swiper-arrows:hover path:first-of-type {
        fill: var(--focus-color);
        stroke: var(--focus-color);
    }

    /* :active for projects__swiper-arrows */

    .projects__swiper-arrows:active path:first-of-type {
        fill: var(--focus-color);
        stroke: var(--button-hover-color);
    }

    /* :focus */

    .swiper3-button-prev:focus-visible, .swiper3-button-next:focus-visible {
        outline: none;
    }

    .swiper3-button-prev:focus-visible path:first-of-type, .swiper3-button-next:focus-visible path:first-of-type{
        stroke: var(--button-hover-color);
    }

    /* contacts */

    .section__contacts {
        padding-top: 35px;
        padding-bottom: 38px;
        border: 1px solid #CACACA;
    }

    .container__contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .contacts__address-container {
        display: flex;
        flex-direction: column;
    }

    .contacts__address-name {
        margin: 0;
        margin-bottom: 4px;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #333;
    }

    .contacts__address {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #333;
    }

    .contacts__form {
        display: flex;
        align-items: center;
    }

    .contacts__input-container {
        margin-right: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .contacts__input {
        padding-left: 24px;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 244px;
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        border: 1px solid #333;
        border-radius: 100px;
        transition: background-color .2s var(--timing-function);
    }

    .contacts__input:hover {
        cursor: pointer;
        background-color: #eaeaea;
    }

    .contacts__button {
        width: 329px;
        padding-top: 11.5px;
        padding-bottom: 11.5px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24.51px;
        border: 3px solid var(--button-hover-color);
        border-radius: 100px;
        color: var(--button-hover-color);
        background: transparent;
        transition-property: color, background-color, border;
        transition-timing-function: var(--timing-function);
        transition-duration:  .2s;
    }

    /* :hover for contacts__button */

    .contacts__button:hover {
        color: #fff;
        background-color: var(--button-hover-color);
        cursor: pointer;
    }

    /* :active for contacts__button */
    
    .contacts__button:active {
        color: #fff;
        background-color: var(--active-color);
        border: 3px solid var(--focus-color);
    }

    /* :focus for contacts__button */

    .contacts__button:focus-visible {
        outline-offset: 2px;
        outline: 2px solid var(--hover-color);
    }

    .just-validate-error-field {
        border: 1px solid #D11616;
    }

    .just-validate-error-label {
        position: absolute;
        top: -30%;
        left: 25px;
        font-size: 12px;
        line-height: 16px;
        color: #D11616;
    }

    .contacts__messengers-container {
        display: flex;
        flex-direction: column;
    }

    .contacts__messengers-heading {
        margin-bottom: 6px;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #333;
    }

    .contacts__messengers-links {
        display: flex;
    }

    .contacts__messengers-link {
        margin-right: 20px;
    }

    .contacts__messengers-link g {
        transition: opacity .2s var(--timing-function);
    }

    /* :hover for contacts__messengers-link */

    .contacts__messengers-link:hover {
        cursor: pointer;
    }

    .contacts__messengers-link:hover g {
        opacity: .5;
    }

    /* :active for contacts__messengers-link */

    .contacts__messengers-link:active g {
        opacity: 1;
    }

    .contacts__messengers-link:active path:first-of-type {
        stroke: #9643A4;
    }

    /* :focus for contacts__messengers-link */

    .contacts__messengers-link:focus-visible g {
        opacity: .5;
    }

    .contacts__messengers-link:focus-visible {
        outline: none;
    }

    /* map */

    .custom__map {
        width: 100%;
        height: 700px;
    }

    [class*="ground-pane"] {
        filter: grayscale(1);
    }

    /* footer */
    
    .footer__container {
        padding-top: 47px;
        padding-bottom: 50px;
        background-color: #000000;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__social-link:not(:last-child) {
        margin-right: 16px;
    }

    .footer__social-link path {
        transition: fill .2s var(--timing-function);
    }

    /* :hover for footer__social-link */

    .footer__social-link:hover path {
        fill: #fff;
    }

    /* :active for footer__social-link */

    .footer__social-link:active path {
        fill: var(--button-hover-color);
    }

    /* :focus for footer__social-link */

    .footer__social-link:focus-visible {
        outline: none;
    }

    .footer__social-link:focus-visible path {
        fill: #fff;
    }

    @media (max-width: 1800px) {

        .hero__heading {
            width: 64%;
        }

        .choices__inner {
            width: 90%;
        }

        
        .swiper1-button-next, .swiper1-button-prev {
            top: 10%;
        }

        .swiper-pagination-fraction {
            top: 18px;
        }


        .container__contacts {
            flex-direction: column;
            align-items: flex-start;
        }

        .catalog__accordion-list-one {
            display: none;
        }

        .catalog__accordion-list-two {
            display: flex;
        }

        .catalog__accordion-list-column:not(:last-child) {
            margin-right: 70px;
        }

        /* contacts */

        .section__contacts {
            padding-top: 40px;
        }

        .contacts__address-container {
            margin-bottom: 30px;
        }

        .contacts__form {
            margin-bottom: 28px;
        }

        .contacts__button {
            width: 343px;
        }
    }

    @media (max-width: 1600px) {

        /* header */

        .container__header {
            padding-top: 29px;
            padding-bottom: 29px;
        }

        .header {
            justify-content: space-between;
            width: 60%;
        }

        .header__picture {
            height: 42px;
        }

        .header__burger {
            display: block;
            z-index: 10;
        }

        .header__burger--inactive {
            z-index: 0;
        }

        .header__cross--active {
            margin-bottom: 36px;
            display: block;
            z-index: 10;
        }

        .header__cross--inactive {
            display: none;
        }

        .header__logo {
            margin-right: 0;
        }

        .header__nav-container {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            min-height: 768px;
            background: rgba(0, 0, 0, 0.9);
            transform-origin: top;
            transform: scaleY(0);
            transition: .3s;
            opacity: 0;
        }

        .header__nav-container--active {
            display: block;
            transform: scaleY(1);
            transition: .3s;
            opacity: 1;
        }

        .header__nav-container-mobile {
            width: calc(83% + 6px);
        }

        .header__nav {
            padding-top: 37px;
            flex-direction: column;
        }

        .header__search-container {
            position: absolute;
            display: flex;
            right: calc(8% + 5px);
            transform: translateX(29%);
            /* transition: transform .3s var(--timing-function); */
        }

        .header__search-container--active {
            transform: translateX(0);
            /* transition: transform .3s var(--timing-function); */
        }

        .header__search {
            margin-right: 11px;
        }

        .header__search-cross {
            display: none;
            /* opacity: 0;
            transition: opacity .3s var(--timing-function); */
        }

        .header__search-input {
            display: none;
            margin-right: 11px;
            /* opacity: 0;
            transition: opacity .3s var(--timing-function); */
        }

        .header__search-input--active {
            display: block;
        }

        .header__search--active {
            display: block;
            /* opacity: 1;
            transition: opacity .3s var(--timing-function); */
        }

        .header__list {
            margin-bottom: 100px;
            flex-direction: column;
        }

        .header__link {
            font-size: 24px;
            line-height: 64px;
        }

        .header__login {
            padding-top: 19px;
            padding-bottom: 22px;
            width: 253px;
            text-align: center;
            border: 2px solid var(--button-hover-color);
            border-radius: 100px;

        }

        .section__hero {
            padding-top: 102px;
        }

        .hero__menu {
            display: none;
        }

        .hero__description {
            width: 50%;
        }

        .choices[data-type*=select-one]::before {
            right: 11%;
        }

        .choices__inner {
            width: 83%;
        }

        /* contacts */

        .contacts__input-container {
            margin-right: 20px;
        }
    }

    @media (max-width: 1280px) {

        /* swiper2 */

        .swiper2 {
            height: 683px;
        }

        /* events */

        .section__events {
            padding-bottom: 40px;
        }

        .events__arcticle {
            padding: 12px 34px 48px 34px;
        }

        .events__date-place {
            margin-bottom: 4px;
            text-align: right;
        }

        .events__name {
            margin-bottom: 8px;
        }

        .swiper2-button-prev, .swiper2-button-next {
            display: none;
        }

        .swiper2-pagination {
            display: block;
        }

        .swiper-pagination-bullets.swiper-pagination-horizontal {
            bottom: -42px;
        }

        .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 0 7.5px;
        }

        .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
        }

        .swiper-pagination-bullet-active {
            background: #666666;
        }

    }

    @media (max-width: 1100px) {

        .container {
            width: calc(90% + 4px);
            position: relative;
        }

        .section__description {
            width: 100%;
        }

        /* header */

        .header__search-container {
            right: 0;
        }

        /* hero section */

        .section__hero {
            padding-top: 105px;
            padding-bottom: 116px;
            background-image: url(../img/hero__1-1024.png);
        }

        .hero__menu {
            display: none;
        }

        .hero__description {
            margin-bottom: 125px;
            width: 74%;
        }

        /* swiper 1 */

        .swiper1 {
            width: 64.3%;
        }

        .swiper3 {
            width: 80%;
        }
        
        .container__contacts {
            flex-direction: column;
        }

        /* gallery */

        .section__gallery {
            background-image: url(../img/gallery__bg-1024.png);
        }

        .gallery__left {
            width: calc(30% + 3px);
            justify-content: flex-start;
        }

        .gallery__span {
            margin-bottom: 9px;
        }
        
        .choices {
            margin-bottom: 106px;
            width: 280px;
        }

        .choices__inner {
            width: 88%;
        }

        .gallery__right {
            margin-top: 20px;
            align-items: flex-end;
            width: calc(64% + 2px);
        }

        .swiper1 {
            height: 380px;
            flex: 1;
        }

        .swiper1-button-next, .swiper1-button-prev {
            top: 7%;
        }

        .swiper-pagination-fraction {
            top: 1%;
        }

        /* catalog */

        .catalog__left-column {
            width: calc(47% + 3px);
        }

        .catalog__right-column {
            width: calc(47% + 3px);
        }

        .catalog__accordion-list-column:not(:last-child) {
            margin-right: 0;
        }

        .catalog__accordion-list-two {
            justify-content: space-between;
        }


        /* swiper 3 */

        .swiper3 {
            width: calc(88% + 4px);
            height: 128px;
        }

        .swiper3-button-prev, .swiper3-button-next {
            top: calc(50% + 5px);
        }

        /* contacts */

        .contacts__form {
            width: 100%;
        }

        /* footer */

        .footer__container {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .footer__social-link svg {
            width: 60px;
            height: 60px;

        }

        .footer__social-link:not(:last-child) {
            margin-right: 27px;
        }
    }

    @media (max-width: 1024px) {

        /* events */

        .swiper2 {
            width: 65%;
        }

        .events__arcticle {
            padding: 12px 18px 48px 30px;
        }

    }

    @media (max-width: 985px) {

        /* header */

        .header {
            width: 61%;
        }

        .header__search-container--active {
            width: 100%;
            justify-content: space-between;
        }

        .header__search-input {
            width: 86%;
        }

        /* hero */

        .hero__heading {
            width: 82%;
        }

        .hero__description {
            width: 100%;
        }

        /* gallery */

        .choices__list--dropdown .choices__item {
           background-color: #333;
           z-index: 10;
        }

        .section__gallery {
            background-size: cover;
        }

        .gallery__container {
            flex-direction: column;
        }

        .gallery__right {
            width: 86%;
        }

        /* events */

        .swiper2 {
            width: 69%;
            height: 700px;
        }

        .events__arcticle {
            padding: 12px 18px 20px 18px;
        }

        /* contacts */

        .contacts__form {
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        .contacts__input-container {
            margin-bottom: 12px;
        }

        .contacts__input {
            width: 295px;
        }

        .contacts__button {
            padding-top: 10px;
            padding-bottom: 10px;
            width: 318px;
        }

    }

    @media (max-width: 768px) {

        .container {
            width: 87%;
        }

        /* header */

        .header {
            width: 64%;
        }

        .container__header {
            padding-top: 29px;
            padding-bottom: 29px;
        }

        /* hero */

        .section__hero {
            background-image: url(../img/hero__1-768.png);
        }

        .hero__heading {
            width: 88%;
        }

        .hero__description {
            width: 100%;
        }

        /* gallery */

        .section__gallery {
            background-image: url(../img/gallery__bg-768.png);
        }
        
        .gallery__left {
            margin-bottom: 40px;
        }

        .choices {
            margin-bottom: 40px;
        }

        .gallery__right {
            margin-top: 0;
            width: 100%;
        }

        .swiper1 {
            height: 390px;
        }

        .swiper1-button-next, .swiper1-button-prev {
            top: calc(5% + 6px)
        }

        /* catalog */

        .catalog__tabs-container {
            flex-direction: column-reverse;
        }

        .catalog__description {
            margin-bottom: 20px;
        }

        .catalog__right-column {
            margin-bottom: 50px;
            width: 100%;
        }

        .catalog__accordion-list-one {
            display: flex;
            justify-content: space-between;
        }

        .catalog__accordion-list-two {
            display: none;
        }

        .catalog__left-column {
            width: 100%;
        }

        /* events */

        .swiper2 {
            width: 100%;
            height: 683px;
        }

        .events__arcticle {
            padding: 12px 18px 48px 37px;
        }

        .section__events {
            padding-top: 70px;
        }

        /* projects */

        .projects__description {
            margin-bottom: 25px;
        }

        .projects__subheading {
            margin-bottom: 33px;
        }

        .events__name {
            margin-bottom: 4px;
        }

        .swiper3 {
            width: 84%;
            height: 106px;
        }

        /* contacts */

        .contacts__form {
            justify-content: space-between;
        }

        .contacts__input-container {
            margin-right: 0;
        }
    }

    @media (max-width: 754px) {

        /* hero */

        .section__hero {
            padding-top: 134px;
            padding-bottom: 134px;
        }

        .hero__heading {
            width: 100%;
            font-size: 64px;
            line-height: 72px;
        }

        .hero__description {
            font-size: 16px;
        }

        .catalog__accordion-list-one {
            flex-direction: column;
        }

        .swiper2 {
            width: 290px;
        }

        .swiper3 {
            width: 195px;
            height: 65px;
        }
    }

    @media (max-width: 585px) {

        .section {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .section__heading {
            margin-bottom: 12px;
            font-size: 28px;
            line-height: 38.13px;
        }

        .section__description {
            font-size: 14px;
            line-height: 28px;
        }

         /* header */

        .container__header {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        .header__nav-container {
            min-height: 600px;
        }

        .header__search-cross {
            width: 18px;
            height: 18px;
        }

        .header__nav {
            padding-top: 25px;
        }

        .header__picture {
            height: 22px;
        }

        .header__list {
            margin-bottom: 263px;
        }

        .header__link {
            font-size: 16px;
            line-height: 32px;
        }

        .header__cross {
            width: 19px;
            height: 19px;
        }

        .header__login {
            padding-top: 11px;
            padding-bottom: 10px;
            width: 115px;
            font-size: 12px;
            line-height: 16.34px;
        }

        .header__burger {
            width: 25px;
            height: 18px;
        }

        .header__search {
            width: 18px;
            height: 18px;
        }

        /* hero */

        .section__hero {
            padding: 30px 10px 45px 10px;
            text-align: center;
        }

        .hero__heading {
            margin-bottom: 3px;
            width: auto;
            font-size: 32px;
            line-height: 43.58px;
        }

        .hero__description {
            margin-bottom: 40px;
            width: auto;
            font-size: 12px;
            font-weight: 400;
            line-height: 16.34px;
        }

        .hero__btn {
            width: 200px;
            height: 40px;
            font-size: 12px;
            line-height: 16.34px;
        }

        /* gallery */

        .swiper1 {
            height: 417px;
        }

        .swiper1-slide {
            align-items: flex-start;
            justify-content: center;
        }

        .swiper1-button-next, .swiper1-button-prev {
            top: auto;
            bottom: 0;
        }

        .swiper1-button-prev {
            left: calc(50% - 65px);
        }

        .swiper1-button-next {
            left: calc(50% + 35px);
        }

        .swiper-pagination-fraction {
            top: auto;
            bottom: -2px;
            left: calc(50% - 15px)
        }

        /* catalog */

        .section__catalog  {
            padding-bottom: 0;
        }

        .ui-accordion .ui-accordion-header {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .catalog__accordion-title h3 {
            font-size: 18px;
        }

        .ui-state-active svg, .ui-state-default svg {
            width: 30px;
            height: 30px;
        }

        .ui-accordion .ui-accordion-content {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .catalog__artist-img {
            margin-bottom: 20px;
        }

        /* events */

        .events__arcticle {
            padding: 16px 18px 49px 23px;
        }

        .events__date-place {
            margin-bottom: 10px;
            font-weight: 400;
        }

        .swiper-pagination-bullets.swiper-pagination-horizontal {
            bottom: -34px;
        }

        /* contacts */

        .section__contacts {
            padding-top: 0;
            padding-bottom: 18px;
            border: none;
        }

        .contacts__address-container {
            margin-bottom: 15px;
        }

        .contacts__address-name {
            margin-bottom: 0;
            font-size: 18px;
            line-height: 24.51px;
        }
        
        .contacts__address {
            font-size: 14px;
            line-height: 19.07px;
        }

        .contacts__form {
            margin-bottom: 18px;
        }

        .contacts__input-container {
            margin-bottom: 20px;
        }

        .contacts__input {
            padding-top: 4px;
            padding-bottom: 2px;
            width: 262px;
        }

        .contacts__button {
            width: 200px;
            font-size: 12px;
            line-height: 16.34px;
        }

        .contacts__messengers-heading {
            font-size: 18px;
            font-weight: 400;
            line-height: 32px;
        }

        .contacts__messengers-link svg {
            width: 49px;
            height: 49px;
        }

        /* map */

        .custom__map {
            height: 500px;
        }

         /* footer */

         .footer__container {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .footer {
            flex-direction: column-reverse;
        }

        .footer__social {
            margin-bottom: 17px;
        }

        .footer__social-link svg {
            width: 50px;
            height: 50px;
        }

    }

    @media (max-width: 320px) {

        .container {
            width: calc(90% + 2px);
        }

        /* header */

        .container__header {
            padding-top: 12px;
            padding-bottom: 12px;
        }

        .header__nav {
            padding-top: 12px;
        }
        
        .header {
            width: 67%;
            align-items: unset;
        }

        .header__search-cross {
            width: 16px;
            height: 16px;
        }

        /* hero */

        .section__hero {
            background-image: url(../img/hero__1-320.png);
        }

        /* about */

        .section__about {
            padding-bottom: 40px;
        }

        /* gallery */

        .section__gallery {
            background-image: url(../img/gallery__bg-320.png);
        }

        .gallery__left {
            margin-bottom: 30px;
        }

        .gallery__span {
            margin-bottom: 4px;
        }

        .choices {
            margin-bottom: 30px;
            width: 290px;
        }

        .choices[data-type*=select-one]::before {
            right: 5%;
        }

        /* catalog */

        .catalog__description {
            display: none;
        }

        /* projects */

        .section__projects {
            padding-top: 30px;
        }

        .projects__description  {
            margin-bottom: 12px;
            font-size: 16px;
            line-height: 32px;
        }

        .projects__subheading {
            margin-bottom: 10px;
            font-size: 18px;
        }

        .swiper3 {
            width: calc(67% + 1px);
            height: 65px;
        }

         /* map */

         .custom__map {
            height: 320px;
        }
    }
    